<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
      <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                <div class="row g-3">
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://static.javatpoint.com/top10-technologies/images/top-10-doctors-in-the-world1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Dr. Patrick Soon Shiong <br><br></h5>
                              <a href="#" class="btn btn-primary">View More</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://static.javatpoint.com/top10-technologies/images/top-10-doctors-in-the-world3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Dr. Myles. B. Abbott, M.D <br><br></h5>
                              <a href="#" class="btn btn-primary">View More</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://static.javatpoint.com/top10-technologies/images/top-10-doctors-in-the-world4.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Dr. Fouad. M. Abbas, M.D.</h5>
                              <a href="#" class="btn btn-primary">View More</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://static.javatpoint.com/top10-technologies/images/top-10-doctors-in-the-world5.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Dr. Khalid Abbed, M.D. <br><br></h5>
                              <a href="#" class="btn btn-primary">View More</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://static.javatpoint.com/top10-technologies/images/top-10-doctors-in-the-world6.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Dr. Naresh Trehan <br><br></h5>
                              <a href="#" class="btn btn-primary">View More</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://static.javatpoint.com/top10-technologies/images/top-10-doctors-in-the-world7.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Dr. Arthur Reese Albright, M.D.</h5>
                              <a href="#" class="btn btn-primary">View More</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://static.javatpoint.com/top10-technologies/images/top-10-doctors-in-the-world9.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Dr. Mark. F. Aaron, M.D. <br><br></h5>
                              <a href="#" class="btn btn-primary">View More</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://static.javatpoint.com/top10-technologies/images/top-10-doctors-in-the-world8.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Dr. Corrie T.M Anderson, M.D</h5>
                              <a href="#" class="btn btn-primary">View More</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwgWayt18p_kO6Pn0ZmJEAM2xtC40w2nQ1rSCLcOz_vvpxQJlpwZqJsNTiqOdRK5qlho8&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Dr. William A. Abdu, M.D, M.S. <br><br></h5>
                              <a href="#" class="btn btn-primary">View More</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://static.lyfboat.com/lyfboat/uploads/doctors/1436-profile-1436-profile-dr-sks-marya.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Dr. Sudhansu Bhattacharyya, MBBS, MS, MCH</h5>
                              <a href="#" class="btn btn-primary">View More</a>
                            </div>
                          </div>

                    </div>
                </div>

            </div>
        </div>
      </div>

</body>
</html>
