<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
      <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                <div class="row g-3">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img height="400" src="https://kafow.com/public/uploads/items/537975472_31-12-19_11-01-11.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img height="400" src="https://www.yello.ae/img/ae/b/1638373880-21-saqr-hospital.jpg" class="d-block w-100" alt="...">
                              </div>
                               <div class="carousel-item">
                                <img height="400" src="https://scontent.ftrv4-1.fna.fbcdn.net/v/t1.18169-9/15327472_956529874479895_1236508744114116743_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=973b4a&_nc_ohc=tyhf4WNdnKgAX8x_eU4&_nc_ht=scontent.ftrv4-1.fna&oh=00_AT-X6LnzMvtzE5k72N1LG5BT4nD69cT0tlXXQqF6oIbtAA&oe=62EC9E10" class="d-block w-100" alt="...">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div> 

                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <h3>About Us</h3>
                         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores asperiores repudiandae culpa, vel voluptates nulla corporis cupiditate unde fuga autem delectus recusandae, esse aperiam minima eum magnam nihil voluptate voluptatem?</p>
                            
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <h3>Vision</h3>
                         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores asperiores repudiandae culpa, vel voluptates nulla corporis cupiditate unde fuga autem delectus recusandae, esse aperiam minima eum magnam nihil voluptate voluptatem?</p>
                            
                    </div>

                </div>

            </div>
        </div>
      </div>

</body>
</html> 